.h-wrapper{
    background: var(--black);
    color: white;
}

.h-container{
    justify-content: space-between;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--secondary);
}
.h-menu{
    gap: 1.8rem;
}

.h-menu>*:hover{
    cursor: pointer;
}